Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-use-default-member-init,
  -modernize-use-nullptr,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.rand

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*\.hpp$'
FormatStyle: file
